---
local_app_path: "/home/ryan-correia/Área\ de\ trabalho/.projetos/repositorios/github/legados/iftech"

# Destination directories inside EC2
app_dest_dir: "/opt/iftech"
app_compose_dir: "/opt/iftech/app"

# EC2 user and group
app_user: "ec2-user"
app_group: "ec2-user"

# These variables are going to be written in file /opt/iftech/app/.env in EC2
env_localhost: "http://localhost:11434"
env_ollama_url: "http://ollama:11434"
env_llm_model: "llama3.2:1b"
env_backend_url: "http://backend:8000"
env_gemini_api_key: ""
env_gemini_model: "gemini-3.6-flash"

# Ollama model
ollama_model_name: "llama3.2"