# Terraform restricted files
iac/terraform/*.tfvars
iac/terraform/*.tfstate
iac/terraform/*.tfstate.backup
iac/terraform/.terraform/

# Ansible restricted files
iac/ansible/inventory.ini
iac/ansible/roles/app/vars/main.yml

# Other files
iac/diagrams/venv