# Terraform restricted files
iac/terraform/*.tfvars
iac/terraform/*.tfstate
iac/terraform/*.tfstate.backup
iac/terraform/.terraform/

# Ansible restricted files
iac/ansible/inventory.ini

# Other files
iac/diagrams/venv